<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Notch</string>
	<key>CFBundleDisplayName</key>
	<string>Notch</string>
	<key>CFBundleIdentifier</key>
	<string>com.romir.notch</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleExecutable</key>
	<string>Notch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Notch listens to your voice commands when you activate it.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Notch automates apps on your behalf to carry out your requests.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Notch nudges you from the notch when a calendar event is about to start.</string>
	<key>NSContactsUsageDescription</key>
	<string>Connect people and family relationships to your REWIND memory when you enable Contacts.</string>
</dict>
</plist>
